@charset "UTF-8";
@keyframes shining_button {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
HTML, body {
  padding: 0px;
  margin: 0px;
  background-color: #FAFAFA;
}

* {
  font-family: "微軟正黑體";
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

#navi_bar {
  position: fixed;
  height: 100vh;
  width: 35%;
  background-color: #1E3248;
  transition-duration: 0.4s;
  z-index: 10;
  box-shadow: -1px 0px 10px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 3rem;
}
#navi_bar .navi_text {
  position: absolute;
  top: 15%;
  left: 15%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#navi_bar .navi_text .botton {
  margin-bottom: 2rem;
}
#navi_bar .navi_text .botton .list {
  display: flex;
  flex-direction: column;
}
#navi_bar .navi_text .botton .list .item {
  text-align: left;
}
#navi_bar #facebook_icon {
  position: absolute;
  bottom: -5rem;
  left: -0.5rem;
  background-color: white;
  background-color: #1E3248;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
}
#navi_bar #facebook_icon a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
#navi_bar #facebook_icon a i {
  font-size: 3rem;
}
#navi_bar #facebook_icon p {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 0.5rem;
  margin-bottom: 0px;
  font-size: 1.2rem;
}

#welcome_banner {
  background-image: url(https://upload.cc/i1/2019/05/14/0HKwsu.png);
  background-color: black;
  background-size: cover;
  margin-top: 0px;
  padding-bottom: 6rem;
}
#welcome_banner .container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome_banner .container .text {
  margin: 11rem 0px;
  margin-bottom: 7rem;
  opacity: 1;
  width: 100%;
}
#welcome_banner .container .text .title_8bit {
  display: inline-flex;
  opacity: 0.9;
  z-index: 5;
  margin-bottom: 8rem;
}
#welcome_banner .container .text .title_8bit .title_crox {
  margin: 0px -2rem;
}
#welcome_banner .container .text .title_8bit img {
  width: 100%;
}
#welcome_banner .container .text .time_8bit {
  margin-bottom: 1rem;
  opacity: 0.6;
}
#welcome_banner .container .text .time_8bit img {
  width: 55%;
}
#welcome_banner .container .text .info_8bit {
  display: inline;
  opacity: 0.6;
}
#welcome_banner .container .text .info_8bit img {
  padding: 0px 0.5rem;
  width: 75%;
}
#welcome_banner .surprise {
  margin-bottom: 10rem;
}
#welcome_banner .surprise .START, #welcome_banner .surprise .choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome_banner .surprise .START svg, #welcome_banner .surprise .choose svg {
  stroke: white;
  fill: none;
  width: 23rem;
  opacity: 0.3;
}
#welcome_banner .surprise .START h2, #welcome_banner .surprise .START .save, #welcome_banner .surprise .choose h2, #welcome_banner .surprise .choose .save {
  font-family: "PT Serif";
  color: white;
  cursor: pointer;
  margin: 0.5rem;
}
#welcome_banner .surprise .START {
  width: 14rem;
  letter-spacing: 1px;
}
#welcome_banner .surprise .START .option h2 {
  width: 20rem;
  font-size: 2rem;
  animation: shining_button 3s linear infinite;
}
#welcome_banner .surprise .choose {
  width: 14rem;
  letter-spacing: 2px;
  position: absolute;
  top: -3rem;
}
#welcome_banner .surprise .choose h2, #welcome_banner .surprise .choose .save {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 2rem;
}
#welcome_banner .surprise .choose h2:hover, #welcome_banner .surprise .choose .save:hover {
  color: white;
  animation: shining_button 1.5s linear infinite;
}

#trailer {
  background-color: white;
}
#trailer .container {
  padding: 2rem;
  padding-bottom: 6rem;
}
#trailer .container .title_section .trick {
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  color: black;
  font-weight: 900;
}

#quest {
  margin-top: 0px;
  padding: 3rem;
  background-color: rgba(30, 50, 72, 0.9);
}
#quest .container-fluid {
  background-color: white;
  padding: 2rem 2rem;
  box-shadow: 0px 0px 13px 4px rgba(255, 255, 255, 0.8);
}
#quest .container-fluid .title_section {
  margin-bottom: 4rem;
  color: black;
}
#quest .container-fluid .title_section h4 {
  margin: 0px;
  font-weight: 500;
}
#quest .container-fluid .title_section h1 {
  margin-top: 1rem;
}
#quest .container-fluid .npc .npc_info {
  margin-bottom: 4rem;
}
#quest .container-fluid .npc .npc_info .icon_BF {
  width: 10rem;
  height: 15rem;
  margin: 0px auto;
  margin-bottom: 1rem;
}
#quest .container-fluid .npc .npc_info .icon_BF img {
  width: 100%;
}
#quest .container-fluid .npc .npc_info h5 {
  margin: 0.5rem;
  margin-bottom: 3px;
  color: #999;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 1px;
}
#quest .container-fluid .npc .npc_info h3 {
  color: #444;
  letter-spacing: 2px;
  padding-left: 2px;
  font-weight: 500;
}
#quest .container-fluid .setsume p {
  margin: 0px;
  text-align: left;
  color: #999;
}
#quest .container-fluid .setsume .trick {
  text-decoration: line-through;
}

#info {
  background-color: white;
  margin-top: 0px;
}
#info .container-fluid {
  padding: 2rem;
  padding-bottom: 6rem;
}
#info .container-fluid .row .col-lg-4 {
  padding: 2rem;
}
#info .container-fluid .row .col-lg-4 h3 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 600;
}
#info .container-fluid .row .col-lg-4 p {
  color: #777;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 2px;
}
#info .container-fluid .row .col-lg-4 p span {
  font-size: 0.9rem;
  color: #999;
}
#info .container-fluid .row .col-lg-4 a {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#info .container-fluid .row .col-lg-4 a i {
  font-size: 8rem;
  margin-bottom: 3rem;
  color: #1E3248;
}
#info .container-fluid .row .col-lg-4 a i:hover {
  transform: translateY(6px);
}
#info .container-fluid .row .col-lg-4 .gmap i {
  color: #C18F42;
}

section#navi {
  background-color: #1E3248;
  color: rgba(255, 255, 255, 0.8);
}
section#navi .container-fluid {
  padding: 2rem 2rem;
  max-width: 1366px;
}
section#navi .container-fluid .list_seperate {
  margin-bottom: 10rem;
}
section#navi .container-fluid .row {
  margin-bottom: 8rem;
}
section#navi .container-fluid .row .col-12 .list {
  display: flex;
  flex-wrap: wrap;
}
section#navi .container-fluid .row .col-12 .list .item {
  margin-right: 1rem;
}
section#navi .container-fluid .row .col-12 .botton {
  margin-bottom: 2.5rem;
}

.navi_switch {
  position: absolute;
  right: 4rem;
  top: 4rem;
  font-size: 0px;
  cursor: pointer;
  z-index: 9;
  padding: 4rem 4rem;
  padding-right: 0px;
  padding-top: 0px;
}
.navi_switch .line {
  width: 2.5rem;
  height: 4px;
  background-color: #999;
  transition-duration: 0.2s;
}
.navi_switch .center {
  margin: 0.7rem 0px;
}

section {
  margin-top: 2rem;
}

.botton {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
.botton:hover {
  color: #C18F42;
}
.botton .text {
  text-align: left;
  transition-duration: 0.2s;
  padding-left: 15px;
  border-left: 3px solid #7D97B7;
}
.botton .text:hover {
  border-left: 3px solid #C18F42;
}
.botton .text span {
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0.3;
  color: white;
}
.botton .text a {
  color: white;
  text-decoration: none;
}
.botton .list {
  position: absolute;
  left: 2rem;
  transform: translateY(20px);
}
.botton .list .item {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 300;
  text-align-last: left;
  transition-duration: 0.3s;
  margin-bottom: 0.7rem;
  padding-bottom: 2px;
  padding-right: 1rem;
  border-bottom: 2px solid #1E3248;
  color: rgba(255, 255, 255, 0.7);
}
.botton .list .item:hover a {
  color: #C18F42;
  border-bottom: 2px solid #C18F42;
}
.botton .list .item a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 0px 3px;
  padding-bottom: 1px;
}

.title_section h1 {
  font-size: 3.3rem;
  margin: 2rem 0px;
  margin-bottom: 0px;
  font-weight: 700;
  letter-spacing: 5px;
  padding-left: 5px;
}
.title_section p {
  margin: 1rem 0px;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.3rem;
  letter-spacing: 1px;
  padding-left: 1px;
}
.title_section p .bold {
  font-weight: 900;
  color: black;
  letter-spacing: 4px;
  padding-left: 4px;
}

.option_page {
  background-image: url(https://upload.cc/i1/2019/05/14/0HKwsu.png);
  color: white;
  height: 100vh;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.option_page .container-fluid {
  padding: 0px 5rem;
  padding-bottom: 5rem;
}
.option_page .container-fluid .GM_murmur {
  color: #111;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: -20px 20px 0px rgba(255, 255, 255, 0.3);
  font-family: "Noto Serif TC", serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  padding: 5rem 3rem;
  padding-bottom: 3rem;
  max-width: 935px;
}
.option_page .container-fluid .GM_murmur .remind {
  text-align: left;
  color: #888;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.option_page .container-fluid .GM_murmur hr {
  margin: 1rem 0px;
  margin-bottom: 3.5rem;
}
.option_page .container-fluid .GM_murmur .welcome {
  text-align: left;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 2.5rem;
}
.option_page .container-fluid .GM_murmur .welcome p {
  text-align: left;
  margin-bottom: 0.5rem;
}
.option_page .container-fluid .GM_murmur .welcome p .blue {
  font-weight: 500;
}
.option_page .container-fluid .GM_murmur .welcome .login {
  position: relative;
  bottom: -5rem;
}
.option_page .container-fluid .GM_murmur .welcome .login svg {
  stroke: rgba(119, 119, 119, 0.8);
  fill: none;
  width: 14rem;
  margin: 0px;
}
.option_page .container-fluid .GM_murmur .welcome .login .text a {
  color: #444444;
}
.option_page .container-fluid .GM_murmur .welcome .login .text a h2 {
  margin: -0.5rem 0px;
  font-family: 微軟正黑體;
  font-size: 1.3rem;
}
.option_page .container-fluid .GM_murmur .loading {
  font-family: "Press Start 2P", cursive;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
}

.navi_off {
  position: absolute;
  right: -35%;
}

.navi_on {
  position: fixed;
  right: 0%;
  top: 0px;
}

.list_expand {
  height: 2.5rem;
}
.list_expand .list {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.3s;
}
.list_expand:hover {
  height: 26rem;
}
.list_expand:hover .list {
  opacity: 1;
  height: 21rem;
}

#welcome_banner .container .surprise .choose .option .save_disable {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
  animation: none;
}

.invisible {
  display: none;
}

.invisible_opacity {
  opacity: 0;
}

#disable {
  color: rgba(153, 153, 153, 0.2);
  cursor: default;
}
#disable .text {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#disable .text:hover {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#disable .text a {
  color: rgba(153, 153, 153, 0.2);
  cursor: default;
}

.nowloading {
  animation: loading 2s steps(2) 3;
  animation-delay: 2s;
}

#test_link {
  border-left: 3px solid #C18F42;
}
#test_link a {
  text-decoration-color: #C18F42;
}
#test_link a .text {
  border: none;
  color: #C18F42;
}

@media(max-width: 576px) {
  #navi_bar {
    width: 50%;
  }

  .navi_off {
    right: -50%;
  }
}
